* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #333;
  color: #ddd;
}

header {
  position: fixed;
  width: 100%;
  margin-bottom: 20 px;
  background-color: #444;
  z-index: 10;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.text-container {
  width: 50%;
}

@media screen and (max-width: 460px) {
  .text-container {
    width: 100%;
  }
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: lightpink;
  padding: 20px;
  color: #333;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in;
}

.tarjeta:hover {
  transform: translateY(-5px);
}

.tarjeta img {
  max-width: 400px;
  max-height: 400px;
}

.titulo-principal {
  font-size: 60px;
  color: lightpink;
  width: 40%;
}

.titulo-seccion {
  font-size: 28px;
}

.biografia img {
  max-width: 500px;
}

.biografia {
  font-size: 18px;
  line-height: 1.3;
}

.links-navegacion {
  list-style: none;
  padding: 20px;
}

.links-navegacion > li {
  display: inline;
  margin-right: 15px;
}

.links-navegacion a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.links-navegacion a:hover {
  color: lightcoral;
}

section {
  padding: 70px 0 50px 0;
  max-width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 460px) {
  section {
    padding-top: 90px;
  }
}

section > div {
  margin-bottom: 50px;
}

footer {
  padding: 50px;
  background-color: #444;
}

.contenedor-servicios > h2 {
  margin-bottom: 30px;
}

.contenedor-servicios > div {
  margin-bottom: 30px;
}

button,
input[type="button"] {
  padding: 10px 15px;
  cursor: pointer;
  background-color: lightpink;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  border-radius: 3px;
}

button:hover,
input[type="button"]:hover {
  background-color: lightcoral;
}

.formulario > div {
  margin-bottom: 30px;
}

.formulario h3 {
  margin-bottom: 12px;
  color: lightcoral;
}

.formulario label {
  margin-bottom: 5px;
}

.form-contacto input {
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 5px;
}

.form-contacto input,
.form-contacto textarea {
  width: 70%;
}

i {
  font-size: 30px;
  margin-top: 20px;
  color: #ffffff;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 150ms ease-in;
}

.fa-square-envelope:hover {
  color: #ca473a;
  transform: translateY(-4px);
}

.fa-instagram:hover {
  color: #c03590;
  transform: translateY(-4px);
}

.fa-facebook:hover {
  color: #1877f2;
  transform: translateY(-4px);
}

.fa-whatsapp:hover {
  color: #2fb262;
  transform: translateY(-4px);
}

input[type="button"] {
  display: block;
  margin: 0 auto;
}

.servicios img {
  max-width: 500px;
  max-height: 500px;
}

.servicios h3 {
  padding: 20px;
  background-color: lightpink;
  color: #333;
  text-align: center;
}

.color-boton {
  padding: 10px 15px;
  cursor: pointer;
  background-color: lightpink;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  border-radius: 3px;
  text-decoration: none;
}

.color-boton:hover {
  background-color: lightcoral;
  color: #333;
}

.size-text h3 {
  font-size: 20px;
  font-weight: bold;
}

.mg-t {
  margin-top: 20px;
}
