$color-acento-100: lightpink;
$color-acento-200: lightcoral;
$color-100: #fff;
$color-200: #ddd;
$color-600: #444;
$color-700: #333;
$color-gm: #ca473a;
$color-ig: #c03590;
$color-fb: #1877f2;
$color-wpp: #2fb262;

$spacer-xs: 10px;
$spacer-sm: 15px;
$spacer-md: 20px;
$spacer-lg: 25px;
$spacer-xl: 30px;
$spacer-2xl: 50px;
$spacer-3xl: 70px;
